.demo {
    height: 100%;
    background-position: 'center';
    background-size: 'cover';
  
    @media (min-width: em(750px)) {
      height: '40px';
    }
  
  }

.logoParty{
    width:'10';
    height: '10px';
  @media (min-width: em(750px)) {
    width: 10%;
  }
}

.textParty{
  font-size: 34000px;
  color: #ce3e3e;
}