.loading {
    font-size: 3.5rem;
    font-weight: 700;
    text-align: center;

    span {
        display: inline-block;
        margin: 0 -.05em;
    }
}


.loading03 {
    span {
        margin: 0 -.015em;
        animation: loading03 .7s infinite alternate;

        @for $i from 1 through 11 {
            &:nth-child(#{$i+1}) {
                animation-delay: #{$i*.1}s;
            }
        }
    }
}

@keyframes loading03 {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(.8);
    }
}