* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}



#scrollbar__style__1::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

#scrollbar__style__1::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5;
}

#scrollbar__style__1::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: #228be6;
}


.scrollable__content::-webkit-scrollbar {
  display: none;
}